function Sys.min 0
pop temp 0
pop temp 1
push temp 0
push temp 1
lt
if-goto small
push temp 1
return
label small
push temp 0
return

function Sys.max 0
pop temp 0
pop temp 1
push temp 0
push temp 1
lt
if-goto big
push temp 0
return
label big
push temp 1
return