function Sys.min 0
pop argument 0
pop argument 1
lt
if-goto small
push argument 1
goto END
label small
push argument 0
label END
return

function Sys.max 0
pop argument 0
pop argument 1
lt
if-goto big
push argument 0
goto END1
label big
push argument 1
label END1
return 